.container  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4,1fr);
  margin:100px;
  margin-left: 500px;
  margin-right: 500px;
  width: 373px;
  height: 200px;
}

#grid-item-1 {
grid-column-start: 1;
grid-column-start: span 2;
grid-column-end: 3;

grid-row-start: 1;
grid-row-start: span 2;
grid-row-end: 3;
}

#grid-item-2 {  
  
  grid-column-start: 4;
  grid-column-start: span 2;
  grid-column-end: 5;

grid-row-start: 1;
grid-row-start: span 2;
grid-row-end: 3;
}

#grid-item-3 {
grid-column-start: 1;
grid-column-start: span 1;
grid-column-end: 2;

grid-row-start: 3;
grid-row-start: span 2;
grid-row-end: 5;
}

#grid-item-4 {
  grid-column-start: 3;
  grid-column-start: span 2;
  grid-column-end: 4;
  
  grid-row-start: 3;
  grid-row-start: span 2;
  grid-row-end: 5;

}
